# Created by .ignore support plugin (hsz.mobi)
YouTubePlaylistSearch/__pycache__/
node_modules/
venv/
.idea/
.idea/dbnavigator.xml
.idea/sonarlint/
venv/Lib/site
-packages/oauthlib/oauth2/rfc6749/endpoints/__pycache__/
!/.env
